<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>arXiv Graph</title>
  <meta name="description" content="arXiv Graph">
  <meta name="author" content="Sayan Goswami">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1>ar<span class="X">X</span>iv Graph</h1>
      </div>
    </div>

    <div class="row">
      <div id="graph" class="twelve columns">
        
      </div>
    </div>
  </div>

  <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <!-- JSON data -->
  <script type="application/json" id="graph_data">
    {{ nodelist|safe }}
  </script>
  <script src="{{ url_for('static', filename='js/fisheye.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
