h1 {
    font-weight: 700;
}

.X {
    color: #b31b1b;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

.highlighted_node {
    stroke:  red;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 8px;
    font: 12px sans-serif;
    color: #fafafa;
    background: grey;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
